<h2>Edit groselha</h2>

<%= render "form.html", changeset: @changeset,
                        action: groselha_path(@conn, :update, @groselha) %>

<%= link "Back", to: groselha_path(@conn, :index) %>
