<h2>Listing groselhas</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for groselha <- @groselhas do %>
    <tr>
      <td><%= groselha.name %></td>

      <td class="text-right">
        <%= link "Show", to: groselha_path(@conn, :show, groselha), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: groselha_path(@conn, :edit, groselha), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: groselha_path(@conn, :delete, groselha), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<a href="<%= groselha_path(@conn, :new) %>">Nova groselha</a>
