<h2>Show groselha</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @groselha.name %>
  </li>

</ul>

<%= link "Edit", to: groselha_path(@conn, :edit, @groselha) %>
<%= link "Back", to: groselha_path(@conn, :index) %>
