<h1>Eventos para a cagetoria <%= @category.name %> <small>(<%= Enum.count(@products) %>)</small></h1>
 <%= for product <- @products do %>
	<p><%= full_name(product)  %> - <%= product.district %> - <%= product.category.name %> <a href="<%= product_path(@conn, :show, product.slug) %>">Ver evento</a></p>
	 
 <% end %>