<%= for product <- @products do %>
  <p><%= full_name product  %> - <%= product.district %> - 
  </p>
  
  <p>Categoria: <%= print_category product %></p> 

  <p>Facilitador: <strong><%= print_facilitator product %></strong></p> 
   
  <p><a href="<%= product_path(@conn, :show, product.slug) %>">Ver evento</a></p>
<% end %>
